body.toplevel_page_authorizer #wpbody-content > .wrap,
body.settings_page_authorizer #wpbody-content > .wrap {
	background: url("../images/banner-772x250.jpg") repeat-x 5px -35px;
	margin-left: -20px;
	margin-right: 0;
	padding-left: 20px;
	padding-right: 0;
}
body.toplevel_page_authorizer #wpbody-content > div.update-nag ~ .wrap,
body.settings_page_authorizer #wpbody-content > div.update-nag ~ .wrap {
	margin-top: -66px;
}
body.toplevel_page_authorizer #wpbody-content > .wrap > h2,
body.settings_page_authorizer #wpbody-content > .wrap > h2 {
	margin: -10px 0 58px 15px;
	padding-top: 80px;
	font-size: 290%;
	text-shadow: 1px 1px 3px #8d8d8d;
}
body.toplevel_page_authorizer #wpbody-content > .wrap > div.updated,
body.settings_page_authorizer #wpbody-content > .wrap > div.updated {
	margin: -43px 10px 5px;
}

body.toplevel_page_authorizer #wpbody-content > .wrap > form > h2 {
	margin: -5px 0 13px 15px;
	padding-top: 8px;
	font-size: 290%;
	text-shadow: 1px 1px 3px #8d8d8d;
}
body.toplevel_page_authorizer #wpbody-content > .wrap > form > p {
	width: 375px;
}
body.toplevel_page_authorizer #wpbody-content > .wrap > form > div.updated {
	margin: -43px 10px 5px;
}

body.toplevel_page_authorizer .nav-tab-wrapper,
body.settings_page_authorizer .nav-tab-wrapper {
	margin-left: -20px !important;
	padding-left: 30px !important;
}

body.toplevel_page_authorizer .nav-tab,
body.settings_page_authorizer .nav-tab {
	opacity: 0.7;
}
body.toplevel_page_authorizer .nav-tab-active,
body.settings_page_authorizer .nav-tab-active {
	opacity: 1.0;
}

body.toplevel_page_authorizer .ms-selectable,
body.toplevel_page_authorizer .ms-selection,
body.settings_page_authorizer .ms-selectable,
body.settings_page_authorizer .ms-selection {
	background-color: transparent;
}
body.toplevel_page_authorizer .ms-list,
body.settings_page_authorizer .ms-list {
	background-color: white;
}

body.toplevel_page_authorizer .ms-list li,
body.settings_page_authorizer .ms-list li {
	margin-bottom: 0;
}

body.toplevel_page_authorizer .ms-container,
body.settings_page_authorizer .ms-container {
	background-position-x: 250px;
}

body.toplevel_page_authorizer .ms-container ul.ms-list,
body.settings_page_authorizer .ms-container ul.ms-list {
	width: 240px;
}

body.toplevel_page_authorizer .spinner,
body.settings_page_authorizer .spinner,
#auth_dashboard_widget .spinner {
	display: inline-block;
	float: none;
	vertical-align: text-bottom;
}
body.toplevel_page_authorizer .spinner,
body.settings_page_authorizer .spinner {
	margin: 4px 5px 0 5px;
}
body.toplevel_page_authorizer .spinner .spinner-text,
body.settings_page_authorizer .spinner .spinner-text,
#auth_dashboard_widget .spinner .spinner-text {
	color: green;
	margin-left: 22px;
}

div.section_info, div.section_info ~ table {
	display: none;
}

#section_info_access_lists ~ table .animated_wrapper {
	/* slightly smaller so the shake animation doesn't create a horizontal scroll bar */
	width: 95%;
}

.auth-email {
	width: 160px;
}

.auth-date-added {
	width: 80px;
}

.auth-multisite-username,
.auth-multisite-email,
.auth-multisite-role,
.auth-multisite-date-added,
.auth-multisite-usermeta {
	opacity: 0.5;
}

#auth_dashboard_widget > .inside {
	margin-top: 0;
}

#auth_dashboard_widget input[type="text"], #auth_dashboard_widget select {
	font-size: 90%;
	width: 90px;
}

#auth_dashboard_widget input[type="radio"] {
	margin: 0 0 6px;
}

#auth_dashboard_widget #list_auth_settings_access_users_pending .auth-email,
#auth_dashboard_widget #list_auth_settings_access_users_approved .auth-email,
#auth_dashboard_widget #new_approved_user_email,
#auth_dashboard_widget #list_auth_settings_access_users_blocked .auth-email,
#auth_dashboard_widget #new_blocked_user_email {
	width: 130px;
}

#auth_dashboard_widget .auth-date-added {
	width: 70px;
}

#auth_dashboard_widget .auth-usermeta {
	display: none;
}

/* Shrink dashboard widget elements on small sizes */
@media only screen and (max-width: 1090px) {
	#auth_dashboard_widget #list_auth_settings_access_users_pending .auth-email,
	#auth_dashboard_widget #list_auth_settings_access_users_approved .auth-email,
	#auth_dashboard_widget #new_approved_user_email,
	#auth_dashboard_widget #list_auth_settings_access_users_blocked .auth-email,
	#auth_dashboard_widget #new_blocked_user_email {
		width: 65px;
	}
	#auth_dashboard_widget select {
		width: 60px;
	}
}

#list_auth_settings_access_users_pending .auth-email,
#list_auth_settings_access_users_pending .auth-role {
	border-color: #ECF195;
	background-color: #F5F8C4;
}

#list_auth_settings_access_users_approved .auth-email,
#list_auth_settings_access_users_approved .auth-role,
#list_auth_settings_access_users_approved .auth-date-added,
#list_auth_settings_access_users_approved .auth-usermeta,
#new_auth_settings_access_users_approved .auth-email,
#new_auth_settings_access_users_approved .auth-role {
	border-color: #8DC33C;
	background-color: #DCF0BE;
}

#list_auth_settings_access_users_blocked .auth-email,
#list_auth_settings_access_users_blocked .auth-date-added,
#list_auth_settings_access_users_blocked .auth-usermeta,
#new_auth_settings_access_users_blocked .auth-email {
	border-color: #EA7E70;
	background-color: #FACBC5;
}
#list_auth_settings_access_users_blocked .auth-role,
#new_auth_settings_access_users_blocked .auth-role {
	display: none;
}

#list_auth_settings_access_users_approved .auth-multisite-user {
	margin-left: 5px;
}
#list_auth_settings_access_users_approved .auth-usermeta + .button {
	margin: 3px 4px 3px -33px;
	height: 23px;
	width: 26px;
	vertical-align: top !important;
	display: none;
}

/**
 * Overlays
 */
.auth_multisite_override_overlay .overlay-note {
	background: white;
	padding: 8px;
	opacity: 0;
	border: 1px solid #aaa;
	margin: 2%;
	position: absolute;
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	transition: opacity 0.1s ease-in-out;
}
.auth_multisite_override_overlay:hover .overlay-note {
	opacity: 1;
}

/**
 * Portions below from Bootstrap
 * http://getbootstrap.com/getting-started/#download
 */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}


.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.dropdown {
	position: relative;
}
.dropdown-toggle:focus {
	outline: 0;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
					box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu.pull-right {
	right: 0;
	left: auto;
}
.dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}
.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #428bca;
	outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
	color: #999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu {
	display: block;
}
.open > a {
	outline: 0;
}


.btn-group,
.btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
	position: relative;
	float: left;
}
.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
	z-index: 2;
}
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus {
	outline: none;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
	margin-left: -1px;
}
.btn-toolbar {
	margin-left: -5px;
}
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
	float: left;
}
.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
	margin-left: 5px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-radius: 0;
}
.btn-group > .btn:first-child {
	margin-left: 0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.btn-group > .btn-group {
	float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
	border-radius: 0;
}
.btn-group > .btn-group:first-child > .btn:last-child,
.btn-group > .btn-group:first-child > .dropdown-toggle {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.btn-group > .btn-group:last-child > .btn:first-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
	outline: 0;
}
.btn-group > .btn + .dropdown-toggle {
	padding-right: 8px;
	padding-left: 8px;
}
.btn-group > .btn-lg + .dropdown-toggle {
	padding-right: 12px;
	padding-left: 12px;
}
.btn-group.open .dropdown-toggle {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
					box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-group.open .dropdown-toggle.btn-link {
	-webkit-box-shadow: none;
					box-shadow: none;
}
.btn .caret {
	margin-left: 0;
}


/* Override a strange WordPress style that causes text to jump */
.form-table td .button-primary.active,
.form-table td .button-primary:active,
.form-table td .button-primary:focus,
.form-table td .button-primary:hover {
	vertical-align: baseline;
}

/* Busy cursor for ajax calls */
html.busy, html.busy * {
	cursor: wait !important;
}

@font-face {
	font-family: 'Glyphicons Halflings';

	src: url('../inc/bootstrap/fonts/glyphicons-halflings-regular.eot');
	src: url('../inc/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../inc/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../inc/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../inc/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.glyphicon-user:before {
	content: "\e008";
}
.glyphicon-globe:before {
	content: "\e135";
}
.glyphicon-ban-circle:before {
	content: "\e090";
}
.glyphicon-remove-circle:before {
	content: "\e088";
}
.glyphicon-remove:before {
	content: "\e014";
}
.glyphicon-floppy-saved:before {
	content: "\e173";
}

/**
 * Bootstrap customizations (typically because of conflicts with WordPress styles)
 */
.dropdown-menu > li {
	margin-bottom: 0;
}
.dropdown-menu > li > a {
	text-decoration: none;
}