body.settings_page_authorizer .ms-list li {
	margin-bottom: 0;
}

body.settings_page_authorizer .ms-container {
	background-position-x: 250px;
}

body.settings_page_authorizer .ms-container ul.ms-list {
	width: 240px;
}

body.settings_page_authorizer .spinner {
	display: inline-block;
	float: none;
	vertical-align: text-bottom;
	margin: 0 5px;
}

.auth-username {
	width: 75px;
}

.auth-email {
	width: 150px;
}

.auth-date-added {
	width: 80px;
}

#auth_dashboard_widget {
	min-width: 460px;
}

#auth_dashboard_widget input, #auth_dashboard_widget select {
	font-size: 90%;
}

#auth_dashboard_widget input[type="radio"] {
	margin: 0 0 6px;
}

#auth_dashboard_widget #list_auth_settings_access_users_pending .auth-email {
	width: 90px;
}

#list_auth_settings_access_users_pending .auth-username,
#list_auth_settings_access_users_pending .auth-email,
#list_auth_settings_access_users_pending .auth-role {
	border-color: #CBCF76;
	background-color: #F5F4D4;
}

#list_auth_settings_access_users_approved .auth-username,
#list_auth_settings_access_users_approved .auth-email,
#list_auth_settings_access_users_approved .auth-role,
#list_auth_settings_access_users_approved .auth-date-added,
#new_auth_settings_access_users_approved .auth-username,
#new_auth_settings_access_users_approved .auth-email,
#new_auth_settings_access_users_approved .auth-role {
	border-color: #87C495;
	background-color: #CDECD3;
}

#list_auth_settings_access_users_blocked .auth-username,
#list_auth_settings_access_users_blocked .auth-email,
#list_auth_settings_access_users_blocked .auth-date-added,
#new_auth_settings_access_users_blocked .auth-username,
#new_auth_settings_access_users_blocked .auth-email {
	border-color: #AA7966;
	background-color: #ECC8C1;
}
#list_auth_settings_access_users_blocked .auth-role,
#new_auth_settings_access_users_blocked .auth-role {
	display: none;
}
