.button.button-external {
	width: 100%;
	margin: 0 0 20px 0;
	height: 44px;
	padding-top: 8px;
	font-size: 18px;
	text-align: center;
}
.button.button-external .dashicons {
	font-size: 32px;
	margin-top: -2px;
}
.button.button-external .label {
	padding-left: 20px;
}

.button.button-google {
	height: 43px;
	margin-bottom: 16px;
	width: 270px;
	background-color: #dd4b39;
	border-bottom: 1px solid #bb3f30;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.10);
	box-shadow: 0 1px 0 rgba(0,0,0,0.10);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-color: transparent;
}
.button.button-google:hover {
	background-color: #e74b37;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.20);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.20);
	border-color: transparent;
}
.button.button-google:active {
	background-color: #be3e2e;
	-webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.20);
	box-shadow: inset 0 2px 0 rgba(0,0,0,.20);
}

#auth-external-service-login h3 {
	text-align: center;
	margin-bottom: 16px;
}

#signin_overlay {
	position: absolute;
	width: 100%;
	top: 0;
}
#signin_overlay .spinner {
	background: url(../../../../../wp-admin/images/spinner.gif) no-repeat;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
	opacity: .7;
	filter: alpha(opacity=70);
	width: 20px;
	height: 20px;
	margin: 340px 0 0 49%;
	display: block;
}